<div class="container mt-4">
  <h2>{{ isEdit ? 'Edit' : 'Add' }} Book</h2>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input formControlName="id" type="hidden" />
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input id="title" type="text" class="form-control" formControlName="title" />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input id="author" type="text" class="form-control" formControlName="author" />
    </div>
    <div class="mb-3">
      <label for="publishedDate" class="form-label">Published Date</label>
      <input id="publishedDate" type="date" class="form-control" formControlName="publishedDate" />
    </div>
    <button class="btn btn-success" type="submit">
      <i class="fas fa-save"></i> {{ isEdit ? 'Update' : 'Create' }}
    </button>
  </form>
</div>
